################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PythonRevisionExercises/FileContentIndex/94cd550b-6c24-4606-876e-fb13fff44e0e.vsidx
/.vs/PythonRevisionExercises/FileContentIndex
